<!DOCTYPE html>
<html>
  <head>
  	<meta chartset="UTF-8">
    <title>Divide</title>
    
    <!-- Vue.js    -->
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/vue-resource.js"></script>
    
    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.css">
    <link rel='stylesheet' href='/stylesheets/datastyle.css' />
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="/">xxx</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/data">data</a></li>
            <li><a href="/analysis">analysis</a></li>
            <li><a href="#">xxx</a></li>
            <li><a href="#">xxx</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  	<header>
    	<h1><%= title %></h1>
    </header>

    <form id='editfile' method='post' action='/upload' enctype='multipart/form-data'>
    <input name="avatar" id='upfile' type='file'/>
    <input type='submit' value='提交'/>
    </form>

    <form id="findop">
        <button type="submit" v-bind:class="[baseClass, statusClass]" v-bind:disabled="isDisable" v-on:click="searchData">查询</button>
    </form>

    <a herf='/analysis/doCal'> gogogog </a>

    <div class="table-responsive">
        <table id="findtable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>词语</th>
                    <th>置信度</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.num }}</td>
                    <td>{{ item.word }}</td>
                    <td>{{ item.conf }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- this is the bind scripts -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- 注意bind的js必须放在页面的最后 -->
    <script src="/javascripts/bind/analysis.js"></script>
  </body>
</html>
    